node_modules
coverage
.nyc_output
.DS_Store
*.log
.idea
dist
compiled
.awcache
.rpt2_cache
docs
__snapshots__
.eslintcache
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
